$headerHeight:64px;

.header__first-line{
    width:100%;
    height:headerHeight;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.header__logo{
    width:120px;
}
.header__sns-wrap{
    display:flex;
    flex-direction: row;
}
.header__main-nav,
.header__second-nav{
    padding-left:0;
    margin:0;
    list-style: none;
}
.header__main-nav{
    @include mediaQuery_M{
        display:flex;
        flex-direction:row;
    }
}
.header__second-nav{
    display:flex;
    flex-direction:row;
}
.header__main-nav{
    width:100%;
    position: absolute;
    left:100%;
    transition:left $animation_speed_basic;
    @include mediaQuery_M{
        position:static;
        left:0;
    }
}
.js-nav-open .header__main-nav{
    left:0;
}