// headers
.header{
    width:100%;
    max-width:980px;
    margin:auto;
    padding-left:$baseSpacing;
    padding-right:$baseSpacing;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-top:$XS;
    padding-bottom:$XS;
}

.header__logo{
    width:120px;
}
.header__logo-img{
    width:100%;
    height:auto;
}
.header__main-nav-wrap{
    width:100%;
    position: absolute;
    right:100%;
    height:100%;
    top:0;
    transition:right 0.3s linear;
    @include mediaQuery_M{
        position:static;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &.js-nav-open{
        right:0;
    }
}
.header__main-nav,
.header__second-nav{
    list-style:none;
    @include mediaQuery_M{
    padding-left:0;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    }
    
}
.menu-item>a{
    color:$mainBlack;
}