// headers
//variables
$headerWidth:280px;
$headerHeight:80px;


.content{
    width:100%;
    padding-top:$headerWidth;
    @include mediaQuery_M{
        width:calc(100% - #{$headerWidth});
        margin-right: 0;
        margin-left: auto;
    }
    
}
.header{
    position:fixed;
    left:0;
    top:0;
    z-index:999;
    width:100%;
    height:$headerHeight;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left:$baseSpacing;
    padding-right:$baseSpacing;

    @include mediaQuery_M{
        flex-direction: column;
        justify-content: flex-start;
        width:$headerWidth;
        height:100vh;
        top:0;
        left:0;
        padding-left:$baseSpacing;
        padding-right:$baseSpacing;
        padding-top:$XS;
        padding-bottom:$XS;
    }

}

.header__logo{
    width:120px;

    @include flexCentering;
}
.header__logo-img{
    width:100%;
    height:auto;
}
.header__main-nav-wrap{
    position: absolute;
    left:-100%;
    transition:left $animation_speed_basic;
    @include mediaQuery_M{
        position:static;
        left:0;
        width:100%;
    }
}
.header__main-nav,
.header__second-nav{
    list-style:none;
    padding-left:0;

}
.menu-item>a{
    color:$mainBlack;
}
.js-nav-open .header__main-nav-wrap{
    left:0;
    top:0;
}