//media queries
$mediaQuery_M: 640px; 
$mediaQuery_L: 1280px;
$baseSpacing:15px;
$containerWidth:980px;
//colors
$mainBlack:#070707;
$mainColor:rgb(20, 145, 107);
$accecntColor:rgb(47, 27, 155);
//spacing and sizing
$Vmargin:1em 0 0.5em;
$XL:2.2rem;
$L:2rem;
$M:1rem;
$S:0.8rem;
$XS:0.75rem;